doctype 5
html
  head
    title HEADER REQUEST PARSER: A FreeCodeCamp Microservice Challenge
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
  body
    div(class="container")
        h1 HEADER REQUEST PARSER: A FreeCodeCamp Microservice Challenge
        h2 Example usage:
        p https://tranquil-anchorage-88113.herokuapp.com/ 
        h2 Example output:
        p {"ipaddress":"nn.nnn.nn.nn","language":"en-US,en;q=0.8","software":"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.87 Safari/537.36"}
        h2 Docs:
        p https://tranquil-anchorage-88113.herokuapp.com/index.html